<h1>Página inicial</h1>
<p>Projeto feito no curso de Rails por <%= mostrar_meu_nome %><b><%= somar_dois(5) %></b></p>

<ul>
  <li><%= link_to "Tipos", kinds_path %></li>
  <li><%= link_to "Contatos", contacts_path %></li>
  <li><%= link_to "Endereços", addresses_path %></li>
  <li><%= link_to "Telefones", phones_path %></li>
</ul>
